.lifeline-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    animation: lifeline-container-fade-in .5s ease-in-out forwards;
}

@keyframes lifeline-container-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (min-width: 768px) {
    .lifeline-container {
        display: flex;
        grid-template-rows: none;
        grid-template-columns: none;
        height: 100%;
        margin: 0 auto;
        background-color: transparent;
    }
}