.stats {
    padding: 10px;
    text-align: center;
    color: #fff;
    position: relative;
    transition: all .4s ease-in-out;
    transition-delay: .1s;
}

.stats h2.games-played {
    font-size: 1.25rem;
}