.answer-container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
}

.hide-answer {
    animation: hideAnswer .3s ease-in-out forwards;
}

@keyframes hideAnswer {
    0% {
        opacity: 1;
        transform: scale(.9);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}
