.current-money {
    position: absolute;
    width: 60%;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: showCurrentMoneyContainer .25s ease-in-out forwards;
}

.current-money::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 1.1rem;
    background-color: rgb(42, 42, 255);
    top: 50%;
    right: -1rem;
    transform: translateY(-50%);
}

.current-money p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    animation: showCurrentMoney .5s ease-in-out forwards .25s;
    opacity: 0;
}

@keyframes showCurrentMoneyContainer {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes showCurrentMoney {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}