.current-money {
    position: relative;
    /* top: 50%; */
    /* right: 5vw; */
    width: 60%;
    /* height: 80%; */
    /* transform: translateY(-50%); */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
}

.show-current-money {
    animation: showCurrentMoney .5s ease-in-out forwards;
}

.current-money img {
    position: absolute;
    right: 0;
}

.current-money::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 5vw;
    background-color: blue;
    right: -5vw;
    top: 50%;
    transform: translateY(-50%);
}

.current-money p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

.df {
    display: flex;
}

.jcc {
    justify-content: center;
}

.aic {
    align-items: center;
}

@keyframes showCurrentMoney {
    0% {
        transform: translateY(-50%) scale(0);
    }
    75% {
        transform: translateY(-50%) scale(1.2);
    }
    100% {
        transform: translateY(-50%) scale(1);
    }
}