.final-answer-container {
    position: absolute;
    bottom: 0px;
    left: 10px;
    right: 10px;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.final-answer-container > .bg-image {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: url('../answer-box.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0;
    font-size: 2rem;
    width: 75%;
}

.final-answer-container > div {
    padding: 30px 0;
}

.final-answer-no {
    background-color: red;
}

.final-answer-yes {
    background-color: green;
}
