.friend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.625rem;
    padding: 0.625rem 0.9375rem;
    border-radius: 0.625rem;
    font-size: 1.25rem;
    background-color: #0172FF;
    color: #fff;
    border: 0.1875rem solid #0172ff;
}

.active-friend {
    background-color: blue;
    color: #fff;
}

.friend img {
    width: 5.25rem;
    height: 5.25rem;
}