.friend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.625rem;
    padding: 0.625rem 0.9375rem;
    border-radius: 0.625rem;
    font-size: 1.25rem;
    background-color: #0172FF;
    color: #fff;
    border: 0.1875rem solid #0172ff;
    transform: scale(1);
}

.active-friend {
    background-color: blue;
    color: #fff;
}

div > div {
    transition: .4s ease-in-out;
}

.friend img {
    width: 3.25rem;
    height: 3.25rem;
}

.profile-bounce {
    animation: profileBounce .4s ease-in-out forwards;
}

.profile-bounce-back {
    animation: profileBounceBack .4s ease-in-out forwards;
}

@keyframes animateTextIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes profileBounce {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

@keyframes profileBounceBack {
    0% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}