.pregame {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pregame-text {
    width: 100%;
    font-size: 36px;
    text-align: center;
    animation: animateTextIn 2s forwards ease-out;
    opacity: 0;
    color: #fff;
    padding: 10px;
    background-color: rgba(0, 0, 0, .3);
}

@keyframes animateTextIn {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}