.pregame {
    height: 100vh;
    width: 100vw;
    background-color: #000;
    color: #fff;
}

.pregame-text {
    position: absolute;
    top: 0%;
    left: 50%;
    font-size: 36px;
    width: 100%;
    text-align: center;
    animation: animateTextIn .4s forwards ease-out;
    transform: translate(-50%,-50%);
}

@keyframes animateTextIn {
    0% {
        top: 0%;
    }

    100% {
        top: 50%;
    }
}