.question {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../answer-box.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    max-height: 90%;
    max-width: 90%;
    width: 90%;
    margin: 0 auto;
}

.question::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 5vw;
    background-color: #155eaef7;
    right: -5vw;
    top: 50%;
    transform: translateY(-50%);
}

.question::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 5vw;
    background-color: #155eaef7;
    left: -5vw;
    top: 50%;
    transform: translateY(-50%);
}

.question p {
    color: #fff;
    width: 70%;
    font-size: 2.5vh;
    text-align: center;
    padding: 2.5vh 0;
}