.winners {
    width: 80%;
    margin: 0 auto;
    position: relative;
    transition: all .4s ease-in-out;
    transition-delay: .1s;
    border: 3px solid orange;
}

.winners h1 {
    background-color: orange;
    text-align: center;
    color: white;
}

.winners ul.winners-list {
    border: 2px solid orange;
}

.winners li {
    color: white;
    list-style-type: none;
    text-align: center;
    padding: 10px;
}

#viewAllWinners {
    text-align: end;
    padding: 10px;
    background-color: orange;
}

.view-all-winners__button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #fff;
    color: orange;
    box-shadow: 2px 2px 5px black;
}

.move-offscreen-right {
    transform: translateX(100vw);
}
