.winners {
    width: 80%;
    margin: 0 auto;
    position: relative;
    transition: all .4s ease-in-out;
    transition-delay: .1s;
}

.winners h1.recent-winners-h1 {
    text-align: center;
    color: white;
    border-radius: 10px 10px 0 0;
    font-size: 1.75rem;
    text-transform: uppercase;
    padding: 10px;
}

.winners ul.winners-list {
    border: 2px solid orange;
}

ul.recent-winners-list {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 0 0 10px 10px;
}

.winners li {
    color: white;
    list-style-type: none;
    text-align: center;
    padding: 10px;
}

#viewAllWinners {
    text-align: end;
    padding: 10px;
}

.view-all-winners__button {
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    text-transform: uppercase;
}

.view-all-winners__button:hover {
    background-color: orange;
}

.move-offscreen-right {
    transform: translateX(100vw);
}
