.money {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animateMoneyIn 2s forwards ease-out;
    color: #fff;
    font-size: 3rem;
}

@keyframes animateMoneyIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}