.start-game {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    transition: opacity;
}

button {
    width: 80%;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    padding: 15px 25px;
    border-radius: 5px;
    background-color: orange;
    color: white;
    font-size: 2rem;
}

.created-by {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.created-by a:active, .created-by a:visited {
    color: white;
}

.fade-out-start-game {
    animation: fade-out-start-game .4s ease-in-out forwards;
}

@keyframes fade-out-start-game {
    100% {
        opacity: 0;
    }
}