.start-game {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: opacity .4s;
    flex: 3;
}

button.start-game-button {
    width: 80%;
    margin: 0 auto;
    padding: 15px 25px;
    border-radius: 5px;
    background-color: orange;
    color: white;
    font-size: 2rem;
}

.created-by {
    text-align: center;
    color: white;
}

.created-by a:active, .created-by a:visited {
    color: white;
}

.fade-out-start-game {
    animation: fade-out-start-game .4s ease-in-out forwards;
}

@keyframes fade-out-start-game {
    100% {
        opacity: 0;
    }
}

@media screen and (min-width: 768px) {
 
    button.start-game-button {
        width: 20%;
    }

    .title-img {
        margin: 0 auto;
    }
}