.start-game {
    background: url('../bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.start-game img {
    position: relative;
    transition: .4s ease-in-out;
}

button {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    padding: 15px 25px;
    border-radius: 5px;
    background-color: orange;
    color: white;
    font-size: 2rem;
    transition: 1.4s ease-in-out;
    transition-delay: .2s;
}

.created-by {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    transition: 1.4s ease-in-out;
    transition-delay: .2s;
}

.created-by a:active, .created-by a:visited {
    color: white;
}

.move-offscreen-left {
    transform: translateX(-100vw);
}

.move-offscreen-down {
    transform: translate(-50%, 100vh);
}