.total-games-played {
    color: goldenrod;
}

.games-played-name {
    font-size: 1rem;
    text-transform: uppercase;
    color: darkgray;
    padding: 0.625rem 0;
}

.games-played-number {
    color: white;
}