.user-actions {
    display: flex;
    color: white;
    text-align: center;
    padding: 0.625rem 0.625rem 0 0.625rem;
}

.action-button {
    padding: 0.625rem;
    margin: 0.625rem;
    border-radius: 0.625rem;
    border: 0.125rem solid goldenrod;
    flex: 1;
    background-color: rgba(0, 0, 0, 0.65);
    font-size: 2rem;
}
