.view-all-winners-container {
    background: url('../bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 9fr 1fr;
    inset: 0;
    z-index: 1;
    opacity: 0;
    transition: .5s ease-in-out;
    padding: 0.625rem;
}

.all-winners {
    /* position: absolute; */
    /* inset: 0; */
    display: grid;
    grid-template-columns: 1fr;
    overflow-y: scroll;
    background: green;
}

.winner-item {
    position: relative;
}

.all-winners div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: midnightblue;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.25rem;
}

.btn-container {
    height: 10vh;
    background: pink;
    position: relative;
    /* bottom: -100%; */
    /* animation: move-winner-button-up .2s ease-in 1s forwards; */
}

.btn-close-all-winners-list {
    text-align: center;
    background-color: orange;
    color: #fff;
    padding: 25px 25px;
    border-radius: 0.4375rem;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 1.25rem;
}

.fade-in {
    opacity: 1;
}

@keyframes move-winners-in {
    from {
        transform: translateX(0vw);
    }
    to {
        transform: translateX(100vw);
    }
}

@keyframes move-winner-button-up {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-100%);
    }
}

@media screen and (min-width: 768px) {
    .view-all-winners-container {
        grid-template-columns: 1fr 1fr;
    }
}