.view-all-winners-container {
    background: url('../bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    inset: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 9fr 1fr;
    z-index: 1;
    opacity: 0;
    transition: .5s ease-in-out;
    padding: 0.625rem;
}

.all-winners div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.25rem;
}

.btn-container {
    padding: 0.625rem;
}

.btn-close-all-winners-list {
    width: 70%;
    text-align: center;
    background-color: orange;
    color: #fff;
    padding: 0.9375rem 1.5625rem;
    border-radius: 0.4375rem;
    margin: 0 auto;
}

.fade-in {
    opacity: 1;
}
