.winners {
    color: goldenrod;
}

.winners-name {
    font-size: 1rem;
    color: darkgray;
    text-transform: uppercase;
    padding: 0.625rem 0;
    letter-spacing: 2px;
}

.winners p:last-child {
    color: white;
}

@media screen and (min-width: 768px) {
    .winners {
        
    }
}