.winners {
    width: 80%;
    margin: 0 auto;
    position: relative;
    transition: all .4s ease-in-out;
    transition-delay: .1s;
}

.winners h1 {
    background-color: orange;
    text-align: center;
    color: white;
}

.winners ul {
    border: 2px solid orange;
}

.winners li {
    color: white;
    list-style-type: none;
    text-align: center;
    padding: 10px;
}

.winners a {
    display: block;
    text-align: end;
    padding: 10px;
    background-color: orange;
}

.move-offscreen-right {
    transform: translateX(100vw);
}
