.app {
    background: url('./bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 768px) {
    .app {
        display: flex;
    }
}